{% extends 'custom_user_tags_app/base.html' %}
{% load custom_tags %}
{% block title %}
    All users list
{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% include 'custom_user_tags_app/paginator.html' with page_obj=page_obj %}
    {% endif %}
    <div class="content-list">
        <h3>Users list</h3>
        <table>
            <tr>
                <th>Username</th>
                <th>Birthday</th>
                <th>Eligible</th>
                <th>Random number</th>
                <th>BizzFuzz</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{% url 'user-details' user.id %}">{{ user.username }}</a>
                    </td>
                    <td>
                        {{ user.birthday }}
                    </td>
                    <td>
                        {% pg_13 user %}
                    </td>
                    <td>
                        {{ user.random_number }}
                    </td>
                    <td>
                        {% bizz_fuzz user %}
                    </td>
                </tr>
            {% empty %}
                <li>
                    <div>
                        No users yet.
                    </div>
                </li>
            {% endfor %}
        </table>
    </div>
    {% if is_paginated %}
        {% include 'custom_user_tags_app/paginator.html' with page_obj=page_obj %}
    {% endif %}
{% endblock %}