{% extends 'custom_user_tags_app/base.html' %}
{% block title %}
    All users list
{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% include 'custom_user_tags_app/paginator.html' with page_obj=page_obj %}
    {% endif %}
    <div class="content-list">
        <h3>Users list</h3>
        <ul class="user-list">
            {% for user in users %}
                <li>
                    <div>
                        <a href="{% url 'user-details' user.id %}">{{ user }}</a>
                    </div>
                </li>
                {% empty %}
                <li>
                    <div>
                        No users yet.
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if is_paginated %}
        {% include 'custom_user_tags_app/paginator.html' with page_obj=page_obj %}
    {% endif %}
{% endblock %}